
//special
$steadGreen: #b2b24b;

//body
$body-color: #fff;
$dark-body-color: #222;
$highlight-selection: #d1d1d1;
$background-gray: #e7e7e7;


// text
$default-text-color: #222;
$dark-text-color: #fff;
$default-active: ;
$default-hover: ;