.first-half {
	vertical-align: top;
	display: inline-block;
	width: 46%;
	margin-right:3%;
}

.second-half {
	vertical-align: top;
	display: inline-block;
	width: 46%;
	float: right;
	margin-left:3%;
}

.float-left {
	text-align: left;
}

.float-right {
	text-align: right;
}

.first-one-third {
	display: inline-block;
	width:30%;
	margin-right: 3%;
}

.second-two-third {
	display: inline-block;
	width:63%;
	margin-left: 3%;
	float: right;
}