.bordered-link {
	padding: 5px 10px;
	border: 1px solid #fff;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	font-family: 'Lato';
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	text-transform: uppercase;

	&.green-hover:hover {
		color: $steadGreen !important;
		background-color: #fff !important;
		text-decoration: none !important;
	}
}

.facebook-link,
.twitter-link,
.gplus-link,
.mail-link {
	height: 30px;
	width: 30px;
	text-decoration: none;
	display: block;
	cursor: pointer;

	&:hover {
		background-color: #fff;

		svg path,
		svg polygon {
			fill: $steadGreen;
			color: $steadGreen; 
		}
	}
}

.play-btn {
	position: absolute;
	top: 50%;
	left: 50%;
	opacity: .8;
	background: url('../assets/images/playbtn.png');
	width: 79px;
	height: 79px;
	@include transform( translateX(-50%) translateY(-50%));
	@include transition( all $trans-speed ease-in-out);
	cursor: pointer;

	&:hover {
		opacity: .5;
	}
}

.facebook-round-link,
.twitter-round-link,
.youtube-round-link {
	height: 30px;
	width: 30px;
	text-decoration: none;
	display: block;
	cursor: pointer;

	&:hover {
		svg * {
			fill: #fff;
		}
	}
}